<li class='card'>
  <a href={{largeImageURL}}>
    <img
      class='card__img'
      width='350'
      height='240'
      src={{webformatURL}}
      alt=''
      data-url={{largeImageURL}}
    />
  </a>
  <ul class='card__list'>
    <li class='card__item'>
      <p class='card__text'>Likes</p>
      <p class='card__value'>{{likes}}</p>
    </li>
    <li class='card__text-item'>
      <p class='card__text'>Views</p>
      <p class='card__value'>{{views}}</p>
    </li>
    <li class='card__text-item'>
      <p class='card__text'>Comments</p>
      <p class='card__value'>{{comments}}</p>
    </li>
    <li class='card__text-item'>
      <p class='card__text'>Downloads</p>
      <p class='card__value'>{{downloads}}</p>
    </li>

  </ul>
</li>
